/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* 
@import '~quill/dist/quill.core.css';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css'; */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  }

