<div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="#"><i class="fa-solid fa-tachograph-digital"></i> View Decks</a></li>
        <li><a href="#"><i class="fa-regular fa-square-plus"></i> Create Deck</a></li>
        <li><a href="#"><i class="fa-solid fa-tachograph-digital"></i> View FlashCard</a></li>
        <li><a href="#"><i class="fa-regular fa-square-plus"></i> Create FlashCard</a></li>

    </ul>
    <div class="log_out">

        <hr class="sidebar-hr"> <!-- Horizontal line -->
        <a href="#">
            <span class="material-symbols-outlined">
                move_item
            </span> Sign Out
        </a>

    </div>
</div>