<div class="sidebar">
    <h2>FlashMastery</h2>
    <!-- <img src="../../../assets/flashmastery-high-resolution-logo.png" alt="Logo"> -->
    <ul>
        <li><button (click)="handleClick('deck-card')"><i class="material-icons">home</i> Home</button></li>
        <li><button (click)="handleClick('view-decks')"><i class="material-icons">view_compact_alt</i> View My Decks</button></li>
        <li><button (click)="handleClick('create-deck')"><i class="material-icons">add_box</i> Create Deck</button></li>
        <li><button (click)="handleClick('view-flashcards')"><i class="material-icons">add_box</i> View My Flashcard</button></li>
        <li><button (click)="handleClick('create-flashcard')"><i class="material-icons">add_box</i> Create Flashcard</button></li>
    </ul>
    <div class="log_out">

        <hr class="sidebar-hr"> <!-- Horizontal line -->
        <a href="#">
            <span class="material-icons" (click)="signout()">logout</span>Sign Out
        </a>

    </div>
</div>