.visibility-tag .public {
  background-color: rgba(83, 169, 84, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

.visibility-tag .private {
  background-color: rgba(199, 243, 4, 0.8);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}
/* Cards */
.flip-card,
.flip-card-click {
  display: inline-block;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 20px;
  margin: 20px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-click:focus .flip-card-inner:focus,
.flip-card-click:active .flip-card-inner:active,
.flip-card-click.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-inner:focus {
  outline: 5px solid #f7f7f7;
  cursor: pointer;
}
.flip-card-inner:hover {
  outline: 5px solid #f7f7f7;
  cursor: pointer;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front h2 {
  color: #000;
  font-size: 16pt;
  font-weight: 500;
  padding: 10px;
}
.flip-card-front p,
.flip-card-back p {
  padding: 10px;
  font-size: 16pt;
  color: #000;
}
.flip-card-front {
  background-color: #fff;
  /* margin : 20px */
}
.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

#card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 5px;
  padding : 4px;
  border-radius: 5px;
  margin-top: 20px;
}

.edit-button {
  background-color: green;
  color : white
}

.delete-button {
  background-color: red;
  color : white
}

.edit-button:hover,
.delete-button:hover {
  background-color: #f9f9f9;
  color: #000;
}

.voting-section {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.upvote-button,
.downvote-button {
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 5px;
}

.material-icons {
  vertical-align: middle;
}

.vote-button:hover {
  background-color: #f9f9f9;
  color: #000;
}

.visibility-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  /* Adjust padding for cards */
  .flip-card,
  .flip-card-click {
    width: calc(50% - 24px); /* Adjust card width for smaller screens */
    margin: 10px; /* Add margin between cards */
  }
}
