<div class="info">

    <div id="card-container2">
        <ng-container *ngIf="flashcards.length ===0">
            <div class="add-flashcard">
                <h3> No Flashcard Available</h3>
                <div class="add-flashcard-icon" (click)="createNewCard()">
                    <i class="pi pi-plus" style="font-size: 3rem;" ></i>
                </div>
                <span>Click this to add Flashcard</span>
            </div>
        </ng-container>

        <ng-container *ngIf="flashcards.length > 0">
            <div *ngFor="let flashcard of flashcards">
                <div class="flip-card-click">
                    <div class="flip-card-inner" tab-index="0">
                        <div class="flip-card-front">
                            <div class="visibility-tag" *ngIf="flashcard.visibility === 'public'"><span
                                    class="public">Public</span></div>
                            <div class="visibility-tag" *ngIf="flashcard.visibility === 'private'"><span
                                    class="private">Private</span></div>
                            <p class="card-frontText" [innerHTML]="sanitizeHtml(flashcard.frontText)"></p>

                        </div>
                        <div class="flip-card-back">
                            <p class="card-backText" [innerHTML]="sanitizeHtml(flashcard.backText)"></p>
                        </div>

                    </div>
                    <div class="footer" *ngIf="userDetails && userDetails._id === flashcard.userId">
                        <button class="edit-button" (click)="editFlashcard(flashcard._id)"><i
                                class="material-icons">edit</i></button>
                        <button *ngIf="flashcard.visibility ==='private'" class="delete-button"
                            (click)="deleteFlashcard(flashcard._id)"><i class="material-icons">delete</i></button>
                    </div>
                    <div class="voting-section" *ngIf="flashcard.userVoteType===''">
                        <button class="upvote-button" (click)="upvoteFlashcard(flashcard._id)">
                            <i class="pi pi-thumbs-up"></i>
                            {{ flashcard.upvotes }}
                        </button>
                        <button class="downvote-button">
                            <i class="pi pi-thumbs-down" (click)="downvoteFlashcard(flashcard._id)"></i>
                            {{ flashcard.downvotes }}
                        </button>
                    </div>
                    <div class="voting-section" *ngIf="flashcard.userVoteType==='upvote'">
                        <button class="upvote-button" (click)="upvoteFlashcard(flashcard._id)">
                            <i class="pi pi-thumbs-up-fill"></i>
                            {{ flashcard.upvotes }}
                        </button>
                        <button class="downvote-button">
                            <i class="pi pi-thumbs-down" (click)="downvoteFlashcard(flashcard._id)"></i>
                            {{ flashcard.downvotes }}
                        </button>
                    </div>
                    <div class="voting-section" *ngIf="flashcard.userVoteType==='downvote'">
                        <button class="upvote-button" (click)="upvoteFlashcard(flashcard._id)">
                            <i class="pi pi-thumbs-up"></i>
                            {{ flashcard.upvotes }}
                        </button>
                        <button class="downvote-button">
                            <i class="pi pi-thumbs-down-fill" (click)="downvoteFlashcard(flashcard._id)"></i>
                            {{ flashcard.downvotes }}
                        </button>
                    </div>
                </div>
                
            </div>
            
        </ng-container>


    </div>
</div>