<div class="info">
    <div class="home-main">
        <div class=" home-main__split--left">
            <div class="top-left">
                <div class="user-details">
                    <div class="user-icon">
                    </div>
                    <div class="user-info">
                        <h2>{{userDetails.username}}</h2>
                        <p>{{userDetails.email}}</p>
                    </div>
                    
                </div>
            </div>
            <div class="button-container" >
                <button class="edit-button"><i class="material-icons" >edit</i></button>
                <button class="delete-button" (click)="confirmDelete(userDetails._id)"><i class="material-icons" >delete</i></button>
            </div>
            
            <div class="bottom-left">

            </div>
        </div>

        <div class=" home-main__split--right">
                <div class="detail" *ngFor="let deck of userDecks">
                    <div class="details-container" >
                    <span class="detail-label">Deck Name: {{deck.name}}</span>
                    <span class="detail-value">Description : {{deck.description}}</span>
                    <div class="button-container">
                        <button class="edit-button" (click)="editDeck(deck._id)"><i class="material-icons">edit</i></button>
                        <button class="delete-button" (click)="deleteDeck(deck._id)"><i class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>