<div class="info">
    <div class="home-main">
        <div class=" home-main__split--left">
            <div class="top-left">
                <div class="user-details">
                    <div class="user-icon">
                    </div>
                    <div class="user-info">
                        <h2>{{userDetails.username}}</h2>
                        <p>{{userDetails.email}}</p>
                    </div>
                    
                </div>
            </div>
            <div class="button-container" >
                <button class="edit-button"><i class="material-icons" >edit</i></button>
                <button class="delete-button" (click)="confirmDelete(userDetails._id)"><i class="material-icons" >delete</i></button>
            </div>
            
            <div class="bottom-left">

            </div>
        </div>

        <div class=" home-main__split--right">
            <div class="details-container">
                <div class="detail">
                    <span class="detail-label">Detail 1:</span>
                    <span class="detail-value">Value 1</span>
                    <div class="button-container">
                        <button class="edit-button"><i class="material-icons">edit</i></button>
                        <button class="delete-button"><i class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>