/** Home main Section*/

.home-main {
  display: flex;
}

.home-main__split {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-main__split--left {
  display: flex;
  min-height: 100vh;
  width: 50%;
  flex-direction: column;
}

.top-left {
  max-height: 20vh;
  width: 100%;
  position: relative;
  margin-bottom: auto;
  overflow: hidden;
  display: flex;
}

.button-container {
  display: flex;
  margin-left: 10px;
  height: 5vh;
}

.top-left::before {
  content: "";
  position: absolute;
  width: 100%;
  max-height: 100vh;
  margin-top: 10px;
  background-size: 500px 450px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px; /* Add border radius */
  display: flex;
}

.bottom-left {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f9f9f9; /* Placeholder color */
  margin-right: 10px;
  /* Add any additional styling for the user icon */
}

.user-info {
  margin: 20px;
}

.user-info h2 {
  margin: 0;
  font-size: 18px;
}

.user-info p {
  margin: 5px 0;
  font-size: 14px;
}
.bottom-left {
  min-height: 50vh;
  width: 100%;
}

.home-main__split--right {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #f0f0f0;
}
.home-main__split--right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.detail {
  min-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
}

.detail-label {
  font-weight: bold;
  margin-left: 10px;
}
.detail-value {
  margin-left: 10px;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure that padding and border are included in the element's total width and height */
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.edit-button,
.delete-button {
  margin-top: 5px;
  margin-left: 10px;
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.visibility-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.visibility-tag.public {
  background-color: rgba(83, 169, 84, 0.8); /* Green for public */
}

.visibility-tag.private {
  background-color: rgba(199, 243, 4, 0.8); /* Yellow for private */
}

.privacy-public {
  background-color: rgba(83, 169, 84, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.privacy-private {
  top: 10px;
  right: 10px;
  background-color: rgba(199, 243, 4, 0.8);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.privacy-status {
  font-weight: bold;
}
/** Media Querys */

@media screen and (min-width: 64em) {
  .header {
    justify-content: space-between;
    padding: 10px 100px;
  }

  .main-menu {
    display: flex;
  }

  .main-menu__link {
    color: var(--primary-color);
    font-size: 0.85em;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust sidebar width for smaller screens */
  .sidebar {
    width: 160px;
  }

  /* Adjust margin for main content */
  .main_content {
    margin-left: 160px; /* Same as sidebar width */
  }

  /* Adjust profile circle size for smaller screens */
  .profile-circle {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  /* Adjust width of search input for smaller screens */
  .search-input {
    width: 200px;
  }

  /* Adjust padding for header */
  .header {
    padding: 10px;
  }

  /* Adjust font size for demo title */
  .demo_title {
    font-size: large;
  }

  /* Adjust margin for search bar */
  .search-bar {
    margin: 10px auto;
  }

  /* Adjust padding for cards */
  .flip-card,
  .flip-card-click {
    width: calc(50% - 24px); /* Adjust card width for smaller screens */
    margin: 10px; /* Add margin between cards */
  }

  .home-main {
    flex-direction: column; /* Change to a single column layout for smaller screens */
  }

  .home-main__split--left,
  .home-main__split--right {
    width: 100%; /* Set width to full for smaller screens */
    min-width: auto; /* Reset min-width */
  }

  .error-message {
    color: red;
  }
  .user-icon {
    width: 40px; /* Decrease user icon size for smaller screens */
    height: 40px;
  }

  .user-info {
    margin: 10px; /* Decrease margin for user info */
  }

  .edit-button,
  .delete-button {
    margin: 5px; /* Adjust margin for edit and delete buttons */
    font-size: 12px; /* Decrease font size for edit and delete buttons */
  }

  form {
    width: 90%; /* Set form width to 90% for smaller screens */
    margin: 20px auto; /* Center the form and add margin */
  }

  input {
    width: calc(100% - 16px); /* Adjust input width for smaller screens */
    margin-bottom: 10px; /* Decrease margin bottom for inputs */
  }

  button[type="submit"] {
    width: 100%; /* Set button width to full for smaller screens */
    font-size: 14px; /* Decrease font size for submit button */
  }
}
