<div style="text-align: center; margin-top: 20px">
    <h2 style="
      color: #292c44;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 8px;
      word-spacing: 10px;
      margin-bottom: 5px;
    ">
        FlashMastery
    </h2>
</div>

<main class="mainBody">

    <div class="flashcardform">
        <h3 class="page-title ">
            Create your Flashcard
        </h3>
        <br>
        <input type="text" class="customInputField" name="Tags" placeholder="Add Tags" />
        <input type="text" class="customInputField" name="FrontText" placeholder="Front Text Content" />
        <input type="text" class="customInputField" name="BackText" placeholder="Back Text Content" />

        
        <select class="dropdown" name="state" required>
            <option value="" disabled selected>Select Visibility State</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>

        <select class="dropdown" name="state" required>
            <option value="" disabled selected>Select Deck to Add</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        <button class="shadow-button">Create and Save</button>
    </div>

</main>