/* .info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
} */

.tpn_card .image-container img {
  border-radius: 23px;
  min-height: 150px;
  object-fit: cover;
  /* min-width: 250px; */
  width: 100%;
  margin: 5px;
}

.tpn_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  border: solid #ccc 1px;
  border-radius: 10px;
  margin: 0px 10px 20px 0px;
  position: relative;
  min-height: 300px;
  /* min-width: 600px; */
  max-width: 600px;
}

.card-content {
  flex: 1;
  display: flex;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.deck-info {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

.privacy-public {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(83, 169, 84, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

.privacy-private {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(199, 243, 4, 0.8);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.privacy-status {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 5px;
  padding: 4px;
  border-radius: 5px;
}

.edit-button {
  background-color: green;
  color : white
}

.delete-button {
  background-color: red;
  color : white
}

.voting-section {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.upvote-button,
.downvote-button {
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #f9f9f9;
  color: #000;
}
.material-icons {
  vertical-align: middle;
}

.card-count {
  font-weight: bold;
  font-size: 14px;
}

.custom-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: space-around; */
  gap: 30px;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .custom-flex-container {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  /* Add now: New CSS rules for smaller screen sizes */
  .tpn_card {
    width: 90%; 
    max-width: none;
  }

  .tpn_card img {
    width: 100%;
    height: auto; /* Allow image height to adjust proportionally */
  }
}
