<div class="info">
    <div class="custom-flex-container">

        <ng-container *ngIf="decks.length === 0">

            <div class="add-flashcard">
                <h3> No Deck Available</h3>
                <div class="add-flashcard-icon" (click)="createNewDeck()">
                    <i class="pi pi-plus" style="font-size: 3rem;"></i>
                </div>
                <span>Click this to add Deck</span>
            </div>


        </ng-container>

        <ng-container *ngIf="decks.length > 0">
            <div class="tpn_card" *ngFor="let deck of decks">
                <div class="card-content">
                    <div class="image-container">
                        <img (click)="showFlashcards(deck._id)"
                            src="https://img.freepik.com/free-photo/adorable-baby-anime-dragon-illustration_23-2151117668.jpg?t=st=1710619863~exp=1710623463~hmac=879c41cd460efdada3c5c185b7e7615c343a50a498f02b18050947f6b032ca8f&w=1800"
                            class="w-100 mb-4" />
                    </div>
                    <div class="details">
                        <div class="deck-info">
                            <p>Deck Name : {{deck.name}}</p>
                            <p>Description : {{deck.description}}</p>
                        </div>
                        <div class="privacy-public" *ngIf="deck.visibility === 'public'">
                            <span class="public">Public</span>
                        </div>
                        <div class="privacy-private" *ngIf="deck.visibility === 'private'">
                            <span class="public">Private</span>

                        </div>
                        <div class="footer" *ngIf="userDetails && userDetails._id === deck.userId">
                            <button class="edit-button" (click)="editDeck(deck._id)"><i
                                    class="material-icons">edit</i></button>
                            <button *ngIf="deck.visibility !== 'public'  " class="delete-button"
                                (click)="deleteDeck(deck._id)"><i class="material-icons">delete</i></button>
                        </div>
                        <div class="voting-section" *ngIf="deck.userVoteType===''">
                            <button class="upvote-button" (click)="upvoteDeck(deck._id)">
                                <i class="pi pi-thumbs-up"></i>
                                {{ deck.upvotes }}
                            </button>
                            <button class="downvote-button">
                                <i class="pi pi-thumbs-down" (click)="downvoteDeck(deck._id)"></i>
                                {{ deck.downvotes }}
                            </button>
                        </div>
                        <div class="voting-section" *ngIf="deck.userVoteType==='downvote'">
                            <button class="upvote-button" (click)="upvoteDeck(deck._id)">
                                <i class="pi pi-thumbs-up"></i>
                                {{ deck.upvotes }}
                            </button>
                            <button class="downvote-button">
                                <i class="pi pi-thumbs-down-fill" (click)="downvoteDeck(deck._id)"></i>
                                {{ deck.downvotes }}
                            </button>
                        </div>
                        <div class="voting-section" *ngIf="deck.userVoteType==='upvote'">
                            <button class="upvote-button" (click)="upvoteDeck(deck._id)">
                                <i class="pi pi-thumbs-up-fill"></i>
                                {{ deck.upvotes }}
                            </button>
                            <button class="downvote-button">
                                <i class="pi pi-thumbs-down" (click)="downvoteDeck(deck._id)"></i>

                                {{ deck.downvotes }}
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </ng-container>

    </div>
</div>