.page-title {
    color: #292c44;
    font-size: 20px;
    font-weight: 600;
    padding: auto;
  }
  .formData {
    background-color: #ffffff; /* Form page background color */
    height: auto; /* Adjusted to accommodate dynamic content */
    padding: 20px; /* Increased padding for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering items horizontally */
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    position: relative; /* For absolute positioning */
    width: 90%;
    max-width: 1200px; /* Limiting the maximum width */
    /* margin: 50px auto; */
  }
  
  .mainBody {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .shadow-button {
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    background-color: #7664c7;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    width: calc(100% - 40px);
    height: 50px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
    background-size: 100% 300%;
    transition: background-position 0.5s ease-in-out;
  }
  
  .shadow-button {
    margin-top: auto;
    left: 0px; /* Aligning button at the bottom */
  }
  
  .customInputField {
    color: #1a1a1a;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    width: calc(
      100% - 40px
    ); /* Adjusting input width to cover most of the form box */
    margin-bottom: 20px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: black;
    padding-left: 10px;
  }
  
  .dropdown {
    height: 40px;
    width: calc(
      100% - 40px
    ); /* Adjusting input width to cover most of the form box */
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: red;
  }
  
  @media (min-width: 768px) {
      .formData {
        width: 70%; /* Adjusted width for larger screens */
      }
    }
    
    @media (min-width: 1024px) {
      .formData {
        width: 60%; /* Adjusted width for even larger screens */
      }
    }
  