.header {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Aligns content horizontally at the center */
  align-items: center;
  padding: 10px 20px;
  /* background-color: #181818; */
  color: #fff;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; /* Push search bar to the right */
  margin-right: auto; 
  position: relative; /* Added position relative */
}

.search-input {
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
}

.search-btn {
  padding: 8px;
  border: none;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position the button relative to the search bar */
  right: 0; /* Align the button to the right within the search bar */
}

.user-profile {
  margin-left: auto;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; /* Added position relative */
  font-size: 25px;
}



.demo_title {
  margin-right: auto; /* Push "Home" text to the left */
  font-size: xx-large;
  color: black;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row; /* Align header content in a column on smaller screens */
    align-items: center; /* Center align items */
  }

  .search-bar {
    margin: 10px auto; /* Center the search bar */
  }

  .search-input {
    width: 50%; /* Make search input wider */
  }

  .user-profile {
    margin: 10px auto; /* Center the user profile */
  }

  .demo_title {
    margin: 10px auto; /* Center the home text */
    font-size: medium; /* Adjust font size for smaller screens */
  }
}
