<div style="text-align: center; margin-top: 20px">
    <h2 class="page-detail">
        FlashMastery
    </h2>
</div>

<main class="mainBody">

    <div class="deckform">
        <h3 style="color: #292c44; font-size: 20px; font-weight: 600; padding: auto">
            Create your Deck
        </h3>

        <!-- Input -->
        <input type="text" class="customInputField" name="name" placeholder="Deck Name" />
        <input type="text" class="customInputField" name="desc" placeholder="Desk Description" />
        

        <h3 style="
        color: #292c44;
        font-size: 20px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 0px;
        left : 0px;
      ">
            Visibility
        </h3>
        <!-- Visibility Dropdown -->
        <select class="dropdown" name="state" required>
            <option value="" disabled selected>Select Visibility State</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        <button class="shadow-button">Create/Update and Save</button>
    </div>

</main>